@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.main{
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  */
     /* margin:0 auto; */
    display:inline-block;  
    
}
.card1{
  position: absolute;
  border-radius: 150px 150px 0 0;
  width: 320px;
  height: 150px;
  background: #232323;
  overflow: hidden;
  display:inline-block;
  
  /* clip-path: circle(50% at 50% 50%); */
}
.card2{
    /* margin-top: 100px; */
    position: relative;
    width: 320px;
    height: 300px;
    background:white;
    border-radius: 200px;
    overflow: hidden;
    z-index: -99;
    /* clip-path: circle(150px at 80% 20%); */
  }

.title2{
    color:white;
    font-size: 33px;
    margin-top: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
.content{
    color:#232323;
    margin-top: 160px;
    font-family: 'Josefin Sans', sans-serif;


}
.log{
    color:white;
    font-size: 60px;
    /* margin-left: 120px; */
    margin-top: 10px;

}
  